#/Downloads/Pdfs/berserk-chapter-1*
/Downloads/Pdfs/berserk-chapter-2*
/Downloads/Pdfs/berserk-chapter-3*
# /Downloads/Images/berserk-chapter-1*.zip
# /Downloads/Images/berserk-chapter-2*.zip
# /Downloads/Images/berserk-chapter-3*.zip